@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.cards {
  border: 2px solid $med-tan;
  border-radius: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  @include flex-column;
  justify-content: space-between;
  margin-bottom: 1rem;
  z-index: 1;

  @include breakpoint-min-size($desktop) {
    width: 23rem;
  }

  &__container {
    @include flex-column;

    width: 100%;
    justify-content: space-between;

    @include breakpoint-min-size($desktop) {
      @include flex-row;
    }
  }
  &__info-block {
    @include flex-row;
    gap: 0.2rem;
    width: max-content;
    align-items: center;
  }

  &__info-img {
    width: 1.2rem;
  }

  &__number {
    font-family: "Uncut Sans";
    font-size: 0.8rem;
    color: $off-black;
    @include removeMarginBlock;
  }

  &__info {
    font-family: "Uncut Sans";
    font-size: 0.8rem;
    color: $off-black;
    @include removeMarginBlock;
  }

  &__name {
    @include removeMarginBlock;
    font-family: "Unbounded";
    font-weight: 900;
    font-size: 1.2rem;
    color: $forest-green;
    padding-bottom: 2rem;

    @include breakpoint-min-size($desktop) {
      font-size: 1.8rem;
    }
  }
}

.selected {
  background-color: $med-tan;
}

.divider {
  @include breakpoint-max-size($desktop) {
    display: none;
  }
}
