@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.order {
  background-color: $light-tan;
  width: 100vw;
  height: 100vh;
  @include flex-row;
  overflow: hidden;

  &__total {
    padding-left: 1.5rem;
    font-family: "Unbounded";
    font-size: 2rem;
    font-weight: 600;
    color: $forest-green;

    @include breakpoint-min-size($desktop) {
      padding-left: 5rem;
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  &__top-bar {
    width: 100%;
    @include flex-column;
    align-items: flex-start;
    padding: 1.5rem;
    margin-top: 5rem;
    gap: 1rem;
    border-bottom: 1px solid $border-tan;

    @include breakpoint-min-size($tablet) {
      margin-top: 1rem;
    }

    @include breakpoint-min-size($desktop) {
      align-items: flex-end;
      @include flex-row;
      justify-content: space-between;
      padding: 1.5rem 5rem;
    }
  }

  &__add {
    background-color: $forest-green;
    @include flex-row;
    align-items: center;
    gap: 0.5rem;
    height: max-content;
    padding: 0rem 1rem;
    transition: ease-in-out 0.5s;

    &:hover {
      background-color: #977b5e;
    }

    @include breakpoint-min-size($tablet) {
      width: 100%;
    }

    &-icon {
      width: 2rem;
    }

    &-text {
      font-family: "Uncut Sans";
      color: $white;
      font-size: 1rem;
      font-weight: 500;
      padding-right: 0.5rem;
    }

    &-link {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__num {
    font-family: "Uncut Sans";
    color: $black;
    font-size: 0.8rem;
    font-weight: 500;
    @include removeMarginBlock;
  }

  &__name {
    font-family: "Unbounded";
    color: $border-tan;
    font-size: 2.5rem;
    font-weight: 600;
    @include removeMarginBlock;
  }

  &__key-info {
    background-color: $white;

    margin: 1.5rem;
    border-radius: 1rem;
    border: 1.5px solid $border-tan;
  }
}

.info {
  &__heading {
    font-family: "Uncut Sans";
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-bottom: 1px solid $border-tan;
  }

  &__container {
    @include flex-column;
    justify-content: flex-start;
    gap: 1rem;
    height: max-content;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    width: 100%;

    @include breakpoint-min-size($tablet) {
    }

    &__pair {
      height: max-content;
    }

    &__label {
      @include removeMarginBlock;
      font-family: "Uncut Sans";
      font-weight: 600;
      padding-bottom: 0.5rem;
      font-size: 1rem;
    }

    &__details {
      @include removeMarginBlock;
      font-family: "Uncut Sans";
      font-weight: 500;
      padding-bottom: 0.5rem;
      font-size: 1rem;
    }
  }

  .orders {
    background-color: $light-tan;
    width: 100vw;
    height: 100vh;
    @include flex-row;
    overflow: hidden;

    &__empty {
      display: none;

      @include breakpoint-min-size($desktop) {
        width: 100%;
        height: 100%;
        @include flex-row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
