@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
.card {
  border: 2px solid $med-tan;
  border-radius: 1rem;
  background-color: $white;
  height: max-content;
  width: 100%;
  height: 10rem;
  position: relative;

  &__flag {
    background-color: teal;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 2rem;

    @include flex-row;
    justify-content: center;
    align-content: center;

    &-img {
      width: 1.5rem;
    }
  }
}

.zigzag {
  display: inline;
  height: 15px;
  width: 15px;
  background: linear-gradient(45deg, red 25%, transparent 25%),
    linear-gradient(-45deg, red 25%, transparent 25%);

  &-container {
    @include flex-row;
  }
}
