@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.grid {
  border: 2px solid $med-tan;
  border-radius: 1rem;
  background-color: $white;
  height: max-content;
  width: 40rem;

  &__header {
    @include flex-row;
    width: 100%;
    gap: 1rem;
    border-bottom: 1px solid $forest-green;
    padding-left: 1.5rem;
  }

  &__photo {
    max-width: 32%;
    padding-bottom: 0.8rem;
  }

  &__photos {
    @include flex-row;
    justify-content: space-between;
    max-width: 100%;
    padding: 1.5rem;
    flex-wrap: wrap;
  }
}
