@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.home {
  background-color: $light-tan;
  width: 100vw;
  height: 100vh;
}
