@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.home {
  background-color: $light-tan;
  width: 100vw;
  height: 100vh;
  @include flex-row;

  &__header {
    padding: 0rem 6rem;
  }

  &__header {
    font-family: "Unbounded";
    font-size: 3rem;
    font-weight: 600;
    color: #8a7662;
  }
}
