@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.sidebar {
  height: 100vh;
  background-color: $white;
  border-right: solid 2px $border-tan;
  box-shadow: 18px 0px 4px 0px rgba(218, 205, 189, 0.25);
  width: 90px;
  margin-left: 0rem;
  @include flex-column;
  padding: 2rem;
  padding-top: 3rem;
  transition: width ease-in 0.2s;
  z-index: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint-min-size($tablet) {
    margin-left: 0;
    overflow: scroll;
    max-width: 28rem;
    margin-left: 4rem;
    padding-top: 0;
  }
  &__heading {
    font-family: "Unbounded", sans-serif, cursive;
    font-weight: 900;
    font-size: 1.2rem;
    color: $forest-green;
    width: 12rem;
  }

  &__top-bar {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    z-index: 2;

    @include breakpoint-max-size($tablet) {
      margin-left: 0;
      width: 100%;
      background-color: $white;
      position: sticky;
      top: 0;
    }
  }

  &__arrow {
    height: 2rem;

    @include breakpoint-max-size($tablet) {
      display: none;
    }
  }
}

.open-width {
  width: 100%;

  @include breakpoint-max-size($tablet) {
    width: 28rem;
    gap: 0rem;
  }
}
