@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";
.actions {
  border: 2px solid $med-tan;
  border-radius: 1rem;
  background-color: $white;
  height: max-content;
  width: 100%;
  overflow: hidden;

  @include breakpoint-min-size($desktop) {
    width: 100%;
  }

  &__header {
    @include flex-row;
    width: 100%;
    gap: 1rem;
    border-bottom: 1px solid $forest-green;
    padding-left: 1.5rem;
  }

  &__item {
    @include flex-row;
    padding: 0 1.5rem;
    justify-content: flex-start;
    gap: 14%;

    &:nth-child(even) {
      background-color: $light-tan;
    }
  }

  &__text {
    font-size: 0.9rem;
    width: 5rem;
    @include breakpoint-min-size($tablet) {
      width: 8rem;
    }
  }

  &__order {
    text-decoration: none;
    font-family: "Uncut Sans";
    font-weight: 600;
    color: $forest-green;

    &:hover {
      color: $border-tan;
    }
  }
}

#order-num {
  display: none;
  @include breakpoint-min-size($tablet) {
    display: block;
  }
}
